* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

#frame{
    margin: 2rem auto;
    background-color: rgb(173, 216, 230, .45);
    border: 0.2rem dotted lightblue;
    width: 65rem;
    height: 25rem;
}

h1{
    font-size: 3rem;
    margin: 0 auto;
}

.grass{
    margin: 0 auto;
    width: 65rem;
    height: 6rem;
    background-color: green;
    position: absolute;
    top: 22rem;
}

#character-img{
    width: 10rem;
    height: 10rem;
    position: relative;
    top: 15rem;
    left: 3rem;
}

.animation{
    animation: jump 3s linear;
}

#object{
    height: 5rem;
    width: 6rem;
    position: relative;
    top: 10.5rem;
    animation: block 3s linear infinite;
    overflow: hidden;
}

#object-img{
    position: relative;
    height: 5rem;
    width: 6rem;
    
}

@keyframes jump {
    0%{
        top: 15rem;
    }
    30%{
        top: 11rem;
    }
    70%{
        top: 11rem;
    }
    100%{
        top: 15rem;
    }
}

@keyframes block{
    0%{
        left: 64rem;
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 0.5rem;
    }
}