* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

#frame{
    margin: 2rem auto;
    background-color: rgb(173, 216, 230, .45);
    border: 0.2rem dotted lightblue;
    width: 65rem;
    height: 25rem;
}

h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.grass{
    margin: 0 auto;
    width: 65rem;
    height: 6rem;
    background-color: green;
    position: absolute;
    top: 22rem;
}

#character-img{
    width: 10rem;
    height: 10rem;
    position: relative;
    top: 12rem;
    left: 3rem;
}

.animate{
    animation: jump 1.5s linear;
}

.hidden{
    display: none;
    border: 1px soldid red;

}

#object-img{
    position: relative;
    height: 5rem;
    width: 6rem;
    top: 7.1rem;
    animation: block 3s linear infinite;
    
}

@keyframes jump {
    0%{
        top: 12.3rem;
    }
    30%{
        top: 7rem;
    }
    70%{
        top: 7rem;
    }
    100%{
        top: 12.3rem;
    }
}

@keyframes block{
    0%{
        left: 64rem;
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 0.5rem;
    }
}

#info-frame{
    position: relative;
    display: flex;
    justify-content: center;
}

#start{
    height: 3rem;
    width: 5rem;
    border-radius: 0.6rem;
    background-color: transparent;
    border: blueviolet 1px dashed;
    color:blueviolet;
}

#start:hover{
    background-color: blueviolet;
    color: white;
}